<footer>
    <ul>
        <li><a href='/'>home</a></li>
        <li><a href='/stateParks'>State Parks</a></li>
        <li><a href='/stateParks/new'>Add Park Form</a></li>
    </ul>
    <p>Trademark State Parks App 2019</p>
</footer>
</body>
</html>