<% include partials/header %>

<h1>Landing Page</h1>
<a href='/campgrounds'>View Campgrounds</a>
<a href='/campgrounds/new'>Add new campground</a>

<p>Welcome to YelpCamp</p>






<% include partials/footer %>