<% include partials/header %>
<h1>Add New Park</h1>
<form action='/stateParks' mehtod='POST'>
    <input type='text' name='newPark' placeholder="Park Name">
    <input type='text' name="newImage" placeholder="image url">
    <button>Submit</button>
</form>

<% include partials/footer %>
